* {
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  font-family: 'poppins', Times, serif;
  background-color: #e5e5e5;
  text-decoration: none;
  list-style: none;
}

.home-page {
  height: 718px;
  background-image: url(img/header-cover.png);
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  position: fixed;
  height: 46px;
  top: 0;
  left: 0;
}

.home-icons {
  display: none;
}

.home-icons ul {
  display: flex;
  list-style: none;
}

header a {
  text-decoration: none;
}

.home-icons li a {
  padding-right: 30px;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #344563;
  transition: 0.4s;
}

header {
  background: white;
  position: fixed;
  z-index: 10;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding-left: 10px;
}

.main-name {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 6rem 1.5rem;
}

.main-name h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 800;
  color: #172b4d;
}

.main-name p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #344563;
  padding-top: 10px;
}

.social-media,
.connect:visited,
.connect:hover,
.connect:active {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 20px;
}

.social-icons {
  margin: 20px 0 15px -5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.icon-spacing {
  padding: 0 10px 0 10px;
}

.scocial-icons > li > a > i {
  cursor: pointer;
}

.web-icons {
  margin-right: 13px;
}

.desktop-img {
  display: none;
}

.respo-icons {
  display: block;
}

.page-2 {
  display: flex;
  justify-content: center;
}

.page-2-description {
  display: grid;
  grid-template-rows: repeat(3, auto);
  width: 90%;
  list-style: none;
  padding: 8rem 1.6rem;
  row-gap: 5em;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 20px;
  background-color: #fff;
}

.pager-head {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.program-details {
  display: flex;
  column-gap: 0.75em;
  align-items: center;
}

.canopy {
  font-size: 13px;
  font-weight: 800;
  line-height: 16px;
  color: #344563;
}

.ul-details {
  display: flex;
  align-content: center;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
  column-gap: 2em;
  list-style: initial;
}

.ul-details > li {
  list-style: disc;
}

.p-ul-details {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.ul-tags {
  display: flex;
  list-style: none;
  column-gap: 4px;
  margin: 15px 0 15px 0;
}

.ul-tags li {
  padding: 3px 14px 3px 14px;
  background-color: #ebebff;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  font-weight: 500;
}

.btn-in {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 15px 0 15px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  font-weight: 500;
  transition: 0.7s;
}

.btn-in:hover {
  background-color: #6070ff;
  color: #fff;
}

.btn-in:active {
  background-color: #2230d2;
  color: #fff;
}

.btn-in:disabled {
  background-color: #fff;
  border: 1px solid #c1c7d0;
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  padding: 100px 24px;
  background-color: #fff;
  border-top-right-radius: 5em;
}

.about h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 800;
  color: #172b4d;
  width: 60%;
}

.about p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.user-tool-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-tool > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.user-tool > div > ul {
  flex: 1 1 100%;
  list-style: none;
  margin-bottom: 10px;
}

.tool-list > li {
  display: flex;
  align-items: center;
  column-gap: 20px;
  height: 67px;
  background-color: #f7f7f9;
  margin-bottom: 12px;
  border-radius: 8px;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  padding: 5px 12px;
}

hr {
  height: 1px;
  border: 0;
  background-color: #dfe1e6;
  width: 100%;
}

.contact-form {
  background-color: #fff;
}

.contact-form h2 {
  margin: 103px 24px 10px 24px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
}

.contact-form p {
  margin: 12px 24px 30px 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: #ebebff;
}

.contact-form-holder {
  background-image: url('../img/contact-shape.png');
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5em;
}

.responsive-form {
  width: 100%;
  text-align: center;
  max-width: 447px;
}

.ul-form {
  list-style: none;
}

.li-form {
  margin: 10px 24px;
  text-align: left;
}

#name_form,
#message,
#email_form {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
  margin-bottom: 8px;
  padding-left: 5px;
  width: 100%;
  border: none;
  color: #172b4d;
  font-family: 'poppins', sans-serif;
  font-size: 17px;
}

#message {
  height: 170px;
}

#get-submit {
  width: 140px;
  height: 48px;
  margin-top: 10px;
  margin-bottom: 45px;
  color: #6070ff;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

#get-submit:hover {
  background-color: #6070ff;
  color: #fff;
}

#get-submit:active {
  background-color: #2230d2;
  color: #fff;
}

#get-submit:disabled {
  background-color: #fff;
  border: 1px solid #c1c7d0;
}

.logo:hover .profile-photo {
  opacity: 1;
}

@media (min-width: 996px) {
  .home-page {
    height: 916px;
  }

  nav {
    height: 72px;
  }

  .logo {
    margin-left: 2em;
  }

  .mobile-icons {
    display: none;
  }

  .home-icons {
    display: flex;
  }

  .main-name {
    align-content: center;
    width: 63%;
  }

  .main-name h1 {
    font-size: 48px;
  }

  .main-name p {
    font-size: 20px;
  }

  .project {
    flex-direction: row;
    column-gap: 2em;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .pager-head {
    font-size: 38px;
    line-height: 52px;
  }

  .program-used {
    padding: 20px;
  }

  .ul-details {
    font-size: 18px;
  }

  .p-details {
    font-size: 18px;
  }

  .p-ul-details {
    width: 80%;
    font-size: 16px;
    line-height: 24px;
  }

  .about {
    flex-direction: row;
    height: 628px;
    justify-content: center;
    align-items: center;
    padding: 0 8em 0 8em;
    column-gap: 2em;
  }

  .user-tool {
    width: 60%;
  }

  .me {
    width: 40%;
  }

  .tool-list {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .tool-list > li {
    height: 122px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 1em 1em 0;
    width: 120px;
  }

  .contact-form p {
    width: 37%;
  }

  .respo-icons {
    display: none;
  }

  .main-icons {
    display: block;
    width: 55%;
    height: auto;
    margin: 10px 0 10px 10px;
  }
}
